#body{
    padding-top: 65px;
    background: slategray url("../images/work.png") no-repeat fixed;
    position: absolute;
    width: 100%;
    height: 100%;
}

header{
    top: 0;
    z-index: 1;
}

#nav div div ul li div.my-dropdown > a{
    color: black;
}

footer{
    background-color: #023d75;
    bottom: 0;
    height: 45px;
    color: white;
    font-size: 1.15em;

}

#nav{
    background-color: #023d75!important;

}
#nav a, ul li a{
    color: white;
}

.intro{
    background: slategray url("../images/background.png") no-repeat fixed;
    height: 550px;
}

.navbar-brand{
    font-size: 1.7em!important;
    font-weight: bolder;
}


.intro p{
    font-size: 1.45em;
}

.blurred-black{
    background: rgba(200, 200, 200, 0.85);

}

h3{
    color: #023d75;
    font-weight: bolder!important;
}

.my-card{
    padding: 40px;
    background-color: cadetblue;
}

.bottom-padding{
    padding-bottom: 90px;
}

.login-div{
    background: white url("../images/gray-noise.png") repeat;
}

.create-articel{
    background: white url("../images/gray-noise.png") repeat;
}